@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Playfair+Display&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

:root {
--bgClr:rgb(250, 254, 255);
--mainClr:rgb(212, 215, 216);
--btnFontClr:rgb(81, 84, 252);
}


body {
    position: relative;
    overflow-x: hidden;
    margin: 0;
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1ch;
    letter-spacing: 0.5ch;
    background-color: var(--bgClr);
    box-sizing:border-box;
}

.section {
    
    width:100%;
    
    height: 100vh;
   
}

/* -------------------section-promotion--------------------- */

.promotion-section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-wrapper {
    
    display: flex;
    align-items:center;
    justify-content: center;
}

.promotion-section img {
    margin-left:2rem;
    width: 20rem;
    height: 20rem;
}

.description p  {
    text-align: center;
    max-width: 50ch;
    line-height: min(3ch);
}

.description h1{
    line-height: min(5ch);
}


/* ------------------navigation------------------------- */

.nav-bar{
    opacity: 0;
    transition: 1s all;
    border-bottom: 3px solid black;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: var(--mainClr)
}

.nav-components {

    text-decoration: none;
    
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
   
    
}

/* ---------------------------offers-------------------------------- */
.section-offers {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.offers {
    font-size: 4rem;
    line-height: 5ch;
    min-width: 30ch;
    transition: 1s all;
    transform: translateX(-220%);
    width: 30%;
    height: 5%;
    background-color:var(--mainClr);
    text-decoration: underline;    
}

a { 

    color: black;
    
}


.offers-active {
    transition: 1s all;
    transform: translateX(0%);
}

/* ---------------------section-hero------------------------------ */



.slider {
    position: relative;
    transition: 1s all ease;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--bgClr);
    width: 100%;
    height: 100%;

}

.slider-inner-wrapper {
    
    overflow: hidden;
    margin-top: 5rem;
    width: 90rem;
    height: 35rem;
    background-color: rgb(227, 236, 233);
}


.slides-container {
    
    transition: 1s all ease;
    display: flex;
}


.slides {
    transition: 1s all ease;
    filter: brightness(50%);    
    background-position: center;
    background-size: cover;
}


.slides:hover {
    filter: brightness(70%);
    transition: 1s all ease;
    scale: 1.2;  
}

.slide1::after {
    opacity: 0;
    color: var(--btnFontClr);
    content: 'PORTRAITS';
    position: absolute;
    top: 60%;
    left: 20%;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--btnFontClr);

}

.slide1:hover::after{
    opacity: 1;
    transition: 1s all ease;
    scale: 1.5;
}

.slide1 {

    background-image: url(./images/slider/girl.jpg)}

.slide2 {

    background-image: url(./images/2.png);
}

.slide3 {

    background-image: url(./images/3.png);
}

.slide4 {

    background-image: url(./images/1.png);
}





.section-contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-btn {
    cursor: pointer;
    font-weight: 600;
    margin-top: 5em;
    padding: 2em 5em;
    border: 2px solid black;
    background-color: var(--bgClr);
}

.hero-btn:hover {
    transition: 1s;
    background-color: rgb(81, 84, 252);
    border: transparent;
}

/* -----------------footer------------------- */

.footer {
    border-top: 2px black solid;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}